# Build artifacts
*.o
*.out

merge_all_accept_incoming_then_set_to_X.sh

logs/

# Local environment files
.DS_Store
*.swp

block_923822_2025-11-15_235002772483.json

metrics/
pools/

build/
.cache/

.venv/

# DELETE THIS LATER
# results/
# build/