# Build artifacts
*.o
*.out

# Local environment files
.DS_Store
*.swp

block_923822_2025-11-15_235002772483.json

metrics/
pools/

build/
.cache/

.venv/

# DEVELOPMENT

.gemini_chats/
.prompts/

# DELETE THIS LATER
# results/
# build/